/*Devocional show*/
.contact-initials {
    color: #9E9E9E;
    font-weight: 400;
    font-size: 20px;
}

.list__item__center {
    padding-left: 16px;
}

/**Range show*/
.icon {
    opacity: 0.8;
    vertical-align: middle;
    margin: 0 10px;
}

.lower {
    opacity: 0.2;
}

input[type="range"] {
    width: 100%;
}
