<ons-page modifier="material" ng-controller="VisionController">
    <ons-toolbar>
        <div class="center">
            <ons-toolbar-button >
                <ons-icon icon="ion-ios-search-strong"></ons-icon> Buscar
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
  <ons-row ng-hide="current.title!=''">
      <ons-col>
          <ons-scroller style="height: 200px; width: 100%">
              <ons-list-item data-ng-repeat="doc in documents" modifier="tappable" ng-click="setCurrent(doc)">
                  <div class="list__item__left">
                      <span class="contact-initials">{{doc.title}}</span>
                  </div>
              </ons-list-item>
          </ons-scroller>
      </ons-col>
  </ons-row>
  <ons-row ng-show="current.title!=''">
      <ons-col>
          <ons-list class="person-list" >
              <ons-list-header class="person-list-header" ng-click="setCurrent(current)">{{current.title}}</ons-list-header>
              <ons-list-item class="person">
                 <div class="content">
                     <p>
                         {{current.content}}
                     </p>
                 </div>
              </ons-list-item>
          </ons-list>
      </ons-col>
  </ons-row>

</ons-page>