<ons-page ng-controller="VisionController" modifier="material">
    <ons-list modifier="material">
        <ons-list-header modifier="material">{{current.title}}</ons-list-header>
        <ons-list-item modifier="material short-divider" >
            <ons-ripple color="rgba(0, 0, 0, 0.1)"></ons-ripple>

            <div class="list__item__center">
                <div class="inbox-title">
                    {{current.note}}
                </div>
                <div class="inbox-message">

                    <p class="inbox-body">&mdash; {{current.content}}</p>
                </div>
            </div>

            <div class="list__item__right">

            </div>
        </ons-list-item>
    </ons-list>
</ons-page>