<ons-page modifier="material" ng-controller="VisionController">
<ons-row>
    <ons-col>
        <div class="content">
            <p>Visión Para Vivir es el ministerio de exposición bíblica de los pastores Chuck Swindoll y Carlos A. Zazueta.</p>

            <p>En Visión Para Vivir estamos comprometidos a la excelencia en la comunicación y la aplicación de la verdad bíblica, teniendo el fascinante reto de transmitir una enseñanza bíblica sólida, práctica y culturalmente relevante.</p>

            <p>El programa radial de Visión Para Vivir se comenzó a emitir en diciembre de 1987 en una estación de radio, y hoy día se transmite a través de centenares de emisoras y es escuchado por millones de personas en Latinoamérica, el Caribe y algunas ciudades de Norteamérica y Europa.</p>

            <p>El ministerio de Visión Para Vivir también produce materiales de enseñanza en discos compactos, libros y guías de estudio que complementan de igual manera las enseñanzas del programa radial. Además contamos con un boletín informativo llamado: “Vivencias”, que enviamos mensualmente a nuestros radio oyentes, con artículos que estimulan el crecimiento espiritual.</p>

            <p>La sede del ministerio está ubicada en Plano, Texas. También contamos con una oficina en Ciudad Guatemala, Guatemala, para nuestros oyentes centroamericanos. Este es un paso más en nuestra visión de llegar y alcanzar todos los confines de la tierra con el Evangelio de Jesucristo.</p>
        </div>
    </ons-col>
</ons-row>
</ons-page>