<ons-sliding-menu var="vision4living.menu"
                  main-page="page"
                  menu-page="js/app/template/menuView.html"
                  side="left" type="reveal" max-slide-distance="80%" swipeable="false">
</ons-sliding-menu>

<ons-template id="page">
    <ons-sliding-menu var="vision4living.messages"
                      main-page="js/app/template/messageView.html"
                      side="right" type="reveal" max-slide-distance="80%" swipeable="false">
    </ons-sliding-menu>
</ons-template>