<ons-page>
    <ons-toolbar>
        <div class="center">Ajustes</div>
    </ons-toolbar>
    <ons-list>
        <ons-list-item>
            <div class="list__item__left">
                <ons-icon icon="fa-volume-down" class="icon lower"></ons-icon>
            </div>
            <div class="list__item__center">
                <input type="range" value="0" class="range">
            </div>
            <div class="list__item__right">
                <ons-icon icon="fa-volume-up" class="icon"></ons-icon>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="list__item__left">
                <ons-icon icon="fa-umbrella" class="icon lower"></ons-icon>
            </div>
            <div class="list__item__center">
                <input type="range" value="25" class="range">
            </div>
            <div class="list__item__right">
                <ons-icon icon="fa-umbrella" class="icon"></ons-icon>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="list__item__left">
                <ons-icon icon="fa-sun-o" class="icon lower"></ons-icon>
            </div>
            <div class="list__item__center">
                <input type="range" value="50" class="range">
            </div>
            <div class="list__item__right">
                <ons-icon icon="fa-sun-o" class="icon"></ons-icon>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="list__item__left">
                <ons-icon icon="fa-bolt" class="icon lower"></ons-icon>
            </div>
            <div class="list__item__center">
                <input type="range" value="75" class="range">
            </div>
            <div class="list__item__right">
                <ons-icon icon="fa-bolt" class="icon"></ons-icon>
            </div>
        </ons-list-item>

        <ons-list-item>
            <div class="list__item__left">
                <ons-icon icon="fa-moon-o" class="icon lower"></ons-icon>
            </div>
            <div class="list__item__center">
                <input type="range" value="100" class="range">
            </div>
            <div class="list__item__right">
                <ons-icon icon="fa-moon-o" class="icon"></ons-icon>
            </div>
        </ons-list-item>
    </ons-list>

</ons-page>