<ons-page ng-controller="VisionController" modifier="material">
    <ons-toolbar modifier="material">
        <div class="center">Visión  para Vivir</div>
    </ons-toolbar>


    <ons-tabbar position="bottom" modifier="material">
        <ons-tab page="js/app/template/favorites.html" label="Inicio" icon="ion-ios-home-outline" style="width: 55px; top: 5px" persistent active="true">
            <ons-icon icon="ion-ios-home-outline" style="font-size: 20px;"><div style="font-size: 10px;">Inicio</div></ons-icon>
        </ons-tab>
        <ons-tab page="js/app/template/carousel.html" label="Devocional" icon="ion-ios-book-outline"  style="width: 55px; top: 5px" persistent >
            <ons-icon icon="ion-ios-book-outline" style="font-size: 20px;"><div style="font-size: 10px;">Devocional</div></ons-icon>
        </ons-tab>
    </ons-tabbar>
</ons-page>
